# Скомпіловані файли та папки збірки
[Bb]in/
[Oo]bj/

# Приховані папки та налаштування Visual Studio
.vs/
*.user
*.suo
*.cache
*.vsidx

# Файли macOS (якщо хтось із команди на Mac)
.DS_Store
.vs/Spirit_Of_Carpats_Remake/v18/.suo
.vs/Spirit_Of_Carpats_Remake/v18/DocumentLayout.backup.json
.vs/Spirit_Of_Carpats_Remake/v18/DocumentLayout.json
